body {
    background-color: #000000;
}

h1 {
    color: white;
    margin-left: 20px;
}

p {
    color: white;
    margin-left: 12px;
}

header {
    color: lightblue;
}

h3 {
    color: white;
    margin-left: 20px;
}

marquee {
    color: white;
}

