* {
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
}

body {
    color: black;
}

h1 {
    color: #ff3232;
    color: -moz-linear-gradient(-45deg, #ff3232 0%, #f2a426 18%, #fff130 37%, #27f765 61%, #2768f4 80%, #ba7ae2 100%);
    color: -webkit-linear-gradient(-45deg, #ff3232 0%,#f2a426 18%,#fff130 37%,#27f765 61%,#2768f4 80%,#ba7ae2 100%);
    color: linear-gradient(135deg, #ff3232 0%,#f2a426 18%,#fff130 37%,#27f765 61%,#2768f4 80%,#ba7ae2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#ba7ae2',GradientType=1 );
}

p {
    color: white;
    margin-left: 12px;
}

header {
    color: lightblue;
}

h3 {
    color: white;
    margin-left: 20px;
}

marquee {
    color: white;
    margin-left: 20px;
}

li {
    color: white;
    margin-left: 20px;
}

ul {
    color: white;
    margin-left: 20px;
}

